.doctor-form {
  padding: 50px;
  padding-top: 10px;
  background-color: #fafcfe;
  width: 100%;
}

.admission-form input {
  width: 100%;
  background-color: rgb(254 251 251 / 10%);
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px;
  padding: 5px 10px;
  margin: 5px 0 25px 0;
}

.labtest-details {
  width: 100%;
  background-color: rgb(254 251 251 / 10%);
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px;
  padding: 5px 10px;
  margin: 5px 0 25px 0;
}

.two-input-field div {
  width: 100%;
}
