.toggle-dashboard-btn {
    position: absolute;
    /* z-index: 1; */
    top: 30px;
    left: 10px;
    font-size: 18px;
}

.toggle-dashboard-btn2 {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 1px;
    font-size: 18px;
}

.dashboard-ul li {
    @apply border-b-2
}

.dashboard-ul a.active {
    color: #16b4ac !important;
    background-color: transparent !important;
    @apply text-lg;
}

.dashboard-link {
    @apply text-base text-[#64748b];
}

.dashboard-icon {
    @apply text-xl;
}