.swiper-pagination {
  display: none;
}

.shopby-category .swiper-pagination {
  display: block;
  bottom: 0;
}

.swiper-medicine .swiper-pagination {
  display: block;
  bottom: 0;
}
.steps .step {
  @apply xl:!min-w-[7rem] 2xl:!min-w-[10rem];
}

@media screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}

/* .swiper-slide-d {
  width: 150px !important;
}
.swiper-slide-c {
  width: 230px !important;

} */

/* "my-accent": "#16b4ac",
"my-primary": "#10847e", */
