#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h1 > span {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url("../../../assets/error/error.webp");
  background-size: cover;
  transform: scale(1.4);
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 > span {
    width: 110px;
    height: 110px;
  }
}
