.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar * {
    scrollbar-width: none;
}

.notification-card {
    overflow: hidden;
}

.delete-icon {
    margin-bottom: -100px;
}

.notification-card:hover .delete-icon {
    margin-bottom: 0px;
}