/* .reward-card {
    background: rgb(16, 182, 168);
    background: linear-gradient(90deg, rgba(16, 182, 168, 1) 0%, rgba(9, 118, 121, 1) 50%, rgba(0, 111, 112, 1) 100%);
}

.reward-card2 {
    background: rgb(224, 255, 253);
    background: linear-gradient(225deg, rgba(224, 255, 253, 1) 0%, rgba(27, 225, 164, 1) 50%, rgba(143, 219, 203, 1) 100%);
} */