@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", sans-serif;
}

/* colors */
.bg-primary {
  background-color: #10847e;
}

.title-color {
  color: #111a28;
}

.nav-container {
  @apply max-w-[2550px] px-2 md:px-6 lg:px-12 mx-auto;
}

.my-container {
  @apply px-4 md:px-24 lg:px-8 container py-14 mx-auto lg:py-16;
}

.swiper-slide {
  background: none !important;
}

/* footer css */
.footer-link li a:hover {
  color: aquamarine;
}

.bg {
  background-image: linear-gradient(to right top, #176b87, #007288, #007886, #007e83, #10847e);
}
/* .my-btn {
  @apply cursor-pointer bg-[#f34e3a] hover:bg-[#E24836] rounded-md px-3 py-2 md:px-6 md:py-4 text-[18px] font-medium md:font-semibold text-white transition duration-200;
}
.my-btn-outline {
  @apply hover:bg-[#f34e3a] hover:text-white rounded-lg px-3 py-2 md:px-6 md:py-4 text-[18px] font-medium md:font-semibold transition duration-300 border border-[#f34e3a] text-[#f34e3a];
} */
/* .bg {
  background-image: linear-gradient(to right top, #176b87, #007288, #007886, #007e83, #10847e);
} */