@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .nav-container {
    @apply mx-auto max-w-[2550px] px-2 md:px-6 lg:px-12;
  }

  .szh-menu-container .szh-menu {
    @apply !top-6 rounded-md  border border-gray-3 lg:w-48 xl:!-left-32 xl:!top-2 2xl:h-28;
  }

  .navMenu .szh-menu-container .szh-menu {
    @apply !top-2 rounded-md  border border-gray-3 lg:w-48 xl:!-left-32 xl:!top-2 2xl:h-28;
  }

  .filter-medicine .szh-menu {
    @apply !left-0 !h-fit;
  }
  .medicine-types .szh-menu {
    @apply !-top-44 !h-fit;
  }

  .my-container {
    @apply container mx-auto px-4 py-14 lg:py-16 xl:px-6;
  }

  .active {
    @apply text-base font-bold uppercase tracking-wide  text-title-color underline decoration-my-accent decoration-2 underline-offset-8;
  }
  .default {
    @apply text-base font-semibold uppercase tracking-wide  text-gray-6  hover:text-my-accent;
  }

  /* button  */

  .cart-btn {
    @apply inline-flex items-center justify-center gap-1 rounded-full bg-my-primary px-2 py-1 text-xs font-medium uppercase text-white transition duration-300 hover:bg-my-accent md:px-3 md:py-2 lg:gap-2 lg:px-5 lg:py-4 lg:text-sm lg:font-semibold;
  }
  .cart-btn-outline {
    @apply inline-flex w-full items-center justify-center gap-2 rounded-full border border-my-primary p-1 text-[10px] font-medium uppercase text-my-primary transition duration-300 hover:bg-my-primary hover:text-white lg:text-xs;
  }
  .req-btn-lg {
    @apply inline-flex items-center justify-center gap-2 rounded-full bg-red-500 px-3 py-3 text-sm font-semibold uppercase text-white transition duration-300 hover:bg-red-400 lg:px-5 lg:py-4;
  }
  .req-btn-sm {
    @apply w-full  rounded-full border border-red-500 bg-red-500 p-1 text-[10px] uppercase text-white transition duration-300 hover:border-red-400 hover:bg-red-400 lg:text-xs;
  }
  .my-btn {
    @apply btn border-0 bg-my-primary font-medium tracking-wide text-white transition duration-200 hover:bg-[#16b4ac] active:hover:transform-none  active:focus:transform-none md:font-semibold;
  }
  .my-btn-outline {
    @apply btn btn-sm rounded-full border border-my-primary font-medium text-my-primary transition-all duration-300 lg:btn-md hover:bg-my-primary hover:text-white active:hover:transform-none active:focus:transform-none md:font-semibold lg:font-bold;
  }
  .circle-btn {
    @apply btn rounded-full border bg-my-primary font-bold tracking-wide text-white transition duration-300 hover:bg-[#16b4ac] hover:text-white active:hover:transform-none active:focus:transform-none;
  }
  .login-btn {
    @apply btn border-0  bg-my-accent  font-medium text-white transition duration-200 hover:bg-[#16b4ac] active:hover:transform-none active:focus:transform-none md:font-semibold;
  }
  .submit-btn {
    @apply rounded-md bg-my-primary px-3 py-2 text-sm font-medium uppercase tracking-wide text-white transition-all hover:bg-my-accent lg:px-6 lg:py-3 lg:text-base lg:font-semibold;
  }
  .reset-btn {
    @apply rounded-md bg-red-500 px-3 py-2 text-sm font-medium uppercase tracking-wide text-white transition-all hover:bg-red-400 lg:px-6 lg:py-3 lg:text-base lg:font-semibold;
  }
  /* button  */
}

@layer utilities {
  /* choose us  */
  .choose-inside {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 20%,
      100% 80%,
      90% 100%,
      0 100%,
      0% 80%,
      0% 20%
    );
    border: 1px solid #10847e;
    background-color: #fff;
  }
  .choose-outside {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 20%,
      100% 80%,
      90% 100%,
      0 100%,
      0% 80%,
      0% 20%
    );
    background-color: #10847e;
    padding: 1px;
    border-radius: 8px;
  }

  .bg {
    background-image: linear-gradient(
      to right top,
      #176b87,
      #007288,
      #007886,
      #007e83,
      #10847e
    );
  }
  /* feedback  */
  .bg-card {
    background-color: transparent;
    background-image: linear-gradient(150deg, #eaf5ff 0%, #fff 100%);
  }
  /* footer css */
  .footer-link li a:hover {
    color: aquamarine;
  }
  .swiper-slide {
    background: none !important;
  }
}

/* .spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #565656;
  border-top-color: #f34e3a;
  animation: spin 0.6s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* remove spain button of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
