@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- background color -----*/
.bg-primary {
  /* background-color: #10847e; */
}
.bgc-teal-4 {
  /* background-color: #16b4ac; */
}
.bgc-white {
  /* background-color: #fff; */
}
.bgc-salt-3 {
  /* background-color: #cbd5e1; */
}
.bgc-salt-6 {
  /* background-color: #475569; */
}
.bgc-lite {
  /* background-color: #F2F3F5; */
}

/*----- text color ----- */
.txt-white {
  /* color: #fff; */
}
.txt-primary {
  /* color: #10847e; */
}
.txt-gray {
  /* color: #4b5563; */
}
.txt-gray-5 {
  /* color: #64748b; */
}
.title-color {
  /* color: #111a28; */
}

.txt-pink {
  /* color: #eb3a7b; */
}

.nav-container {
  @apply max-w-[2550px] px-2 md:px-6 lg:px-12 mx-auto;
}

.my-container {
  @apply px-4 md:px-24 lg:px-6 container py-14 mx-auto lg:py-16;
}

.swiper-slide {
  background: none !important;
}

/* feedback  */

.bg-card {
  background-color: transparent;
  background-image: linear-gradient(150deg, #eaf5ff 0%, #fff 100%);
}

/* choose us  */
.choose-inside {
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);
  border: 1px solid #10847e;
  background-color: #fff;
}
.choose-outside {
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);
  background-color: #10847e;
  padding: 1px;
  border-radius: 8px;
}

/* footer css */
.footer-link li a:hover {
  color: aquamarine;
}

.bg {
  background-image: linear-gradient(to right top, #176b87, #007288, #007886, #007e83, #10847e);
}

.cart-btn {
  @apply rounded-full py-2 text-[14px] uppercase font-medium inline-flex items-center justify-center gap-2 transition duration-300 border hover:bg-my-primary hover:text-white border-my-primary text-my-primary;
}
.my-btn {
  @apply bg-my-primary hover:bg-[#16b4ac] btn  font-medium md:font-semibold text-white transition duration-200;
}
.my-btn-outline {
  @apply hover:bg-my-primary hover:text-white rounded-lg px-3 py-2 md:px-6 md:py-4 text-[18px] font-medium md:font-semibold transition duration-300 border border-my-primary text-my-primary;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}
